# Combined requirements.txt file for build-time, batchkit, and batchkit_examples.
# Install these requirements into your python environment during development.
# Sections are selectively picked up during packaging.

### build-time
setuptools

### batchkit
requests>=2.23.0

### examples
# Needed only for stress tests and batchkit_examples/speech_sdk:
# NOTE: Speech SDK v1.11.0 has a bug during broken session reconnection with SRFrontEnd; blacklisted
time